In [1]:
import os
import pandas as pd
import numpy as np

# Preprocess Data

In [2]:
#load data into dataframe
creditDataDF = pd.read_csv(os.path.join("Resources", "lending_data.csv"))

In [3]:
#display first five columns
creditDataDF.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [4]:
#get the count or records for loan status column
creditDataDF["loan_status"].value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

It is my prediction that the ForestClassifier model will do a better job at prediction 
This is due to the fact that it has several trees because of the different decision trees

In [5]:
# Import Data into X, y
#assign specific columns to dataframe
X=creditDataDF[['loan_size','interest_rate','borrower_income', 'debt_to_income',
                'num_of_accounts','derogatory_marks','total_debt']]
y = creditDataDF['loan_status']

In [6]:
# show data in X
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [7]:
#show data in Y
y.head()

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [8]:
# Use sklearn to split dataset
# Split the data into x_train, x_test, y_train, y_test allocate for training 70% for testing 30

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)
print ('Training cases: %d\nTest cases:%d' % (X_train.shape[0], X_test.shape[0]))

Training cases: 54275
Test cases:23261

In [9]:
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
58604,9800.0,7.282,49100,0.389002,4,0,19100
57265,10800.0,7.726,53300,0.437148,5,1,23300
45369,10700.0,7.674,52800,0.431818,5,1,22800
12645,8700.0,6.815,44700,0.328859,3,0,14700
6582,8000.0,6.536,42100,0.287411,2,0,12100

In [10]:
# Train a Logistic Regression model print the model score
#create the model by using Linear Regession

#set regulation rate
from sklearn.linear_model import LogisticRegression
reg=0.01 
classifier = LogisticRegression(C=1/reg, solver = 'liblinear').fit(X_train,y_train)

In [11]:
#Validate the model by using the training data

training_score = classifier.score(X_train, y_train)
testing_score = classifier.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.9917641639797329
Testing Score: 0.9925626585271484

In [12]:
from sklearn.ensemble import RandomForestClassifier
#Train a Random Forest Classifer model on unscaled data and print the model score for score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.9974389682174113
Testing Score: 0.9917028502643911