In [1]:
import os
import pandas as pd
import numpy as np

# Preprocess Data

In [2]:
#load data into dataframe
creditDataDF = pd.read_csv(os.path.join("Resources", "lending_data.csv"))

In [3]:
#display first five columns
creditDataDF.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [4]:
creditDataDF["loan_status"].value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

In [5]:
### Import Data into X, y
#Note: Skleran requires a two dimensional arry of values
# so we use reshape() to create this 
X=creditDataDF[['loan_size','interest_rate','borrower_income', 'debt_to_income','num_of_accounts','derogatory_marks','total_debt']]
y = creditDataDF['loan_status']
print("Shape:",X.shape,y.shape)

Shape: (77536, 7) (77536,)

In [6]:
# Use sklearn to split dataset
# Split the data into x_train, x_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
29175,8600.0,6.792,44500,0.325843,3,0,14500
23020,7800.0,6.419,41000,0.268293,2,0,11000
31269,10000.0,7.386,50100,0.401198,4,1,20100
35479,9300.0,7.093,47300,0.365751,3,0,17300
13470,9200.0,7.045,46900,0.360341,3,0,16900

In [7]:
# Train a Logistic Regression model print the model score
#create the model by using Linear Regession

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver = 'liblinear')
classifier

LogisticRegression(solver='liblinear')

# Fit (train) model by using the training data

In [8]:
from sklearn.ensemble import RandomForestClassifier
classifier.fit(X_train, y_train.values.ravel())

LogisticRegression(solver='liblinear')

In [9]:
#Validate the model by using the training data

training_score = classifier.score(X_train, y_train)
testing_score = classifier.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.9920896959691842
Testing Score: 0.9919521254643004

# Train a Random Forest Classifier model and print the model score

In [10]:
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.9975409272252029
Testing Score: 0.991642591828312

In [11]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
60914           0       0
36843           0       0
1966            0       0
70137           0       0
27237           0       0
...           ...     ...
45639           0       0
11301           0       0
51614           0       0
4598            0       0
2793            0       0

[19384 rows x 2 columns]